body{
    background-image: url("imagini/contact.jpg");
	background-size: cover;
}

.bara{
    font-family: crafty-girls;
    text-shadow: 2px 2px #000000;
	display:block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #001d26;
    border: 2px inset #00c8ff;
    font-style: normal;
    font-weight: 400;
}

#logo{
	opacity: 1.0;
}

#logo:hover{
	opacity: 0.5;
	cursor: pointer;
}

nav ul{
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
	margin-right: 102px;
	margin-left: auto;
}

nav a{
    font-family: crafty-girls;
    color: #00c8ff;
    font-size: 1.4em;
    text-decoration: none;
	border: 5px inset #00c8ff;
    display: inline-block;
    background-color:#001d26 ;
    padding-top: 10px;
    height: 40px;
    width: 160px;
    max-height: 40px;
    max-width: 160px;
    font-weight: 400;
    font-style: normal;
	
}

#logo{
	display:inline-block;
	float: left;
}

.bara li{
	display:inline-block;
	opacity: 1.0;
}

li:hover{
	opacity: 0.5;
}

#pensula{
	float: right;
}

.continut{
	background: rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
	color:white;
	font-family: averia-sans-libre;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.continut b{
	 color: #00c8ff;
}

a{
	color:white;
	text-decoration: none;
}

a:hover{
	color: #00c8ff;
	text-decoration: underline;
}

.subsol{
	font-family: crafty-girls;
    text-shadow: 2px 2px #000000;
	display:block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1%;
    background-color: #001d26;
    border: 2px inset #00c8ff;
    font-style: normal;
    font-weight: 400;
	color:white;
	text-align: center;
}

#titlu h1{
	font-family: crafty-girls;
    text-shadow: 2px 2px #000000;
	display:block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1%;
    background-color: #001d26;
    border: 2px inset #00c8ff;
    font-style: normal;
    font-weight: 400;
	color:#00c8ff;
	text-align: center;
    text-indent: 0px;
}

.continut h1{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 50px;
}