body{
    background-image: url(imagini/background.png) ;
	background-size:cover;
}
img{
	opacity: 1.0;
    width:50%;
    height: auto;
    max-width: 100%;
}

img:hover{
	opacity: 0.5;
	cursor: pointer;
}

h1{
    font-family: crafty-girls;
    text-shadow: 2px 2px #000000;
    color: #00c8ff;
    max-width: 700px;
    min-width: 700px;
    margin-top: 5%;
	text-align: center;
    font-style: normal;
	background-color: #001d26;
    border: 10px inset #00c8ff;
    font-weight: 400;
}

.grid-container{
    display:grid;
	margin-top: 7%;
	grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.grid-item{
    align-items: center;
    justify-items: center;
}

